<%= form_tag "/client/orders", method: :post do %>
<div>
    PRODUCT ID: <input type= "text" name="product_id">
</div>
<div>
    QUANTITY: <input type= "text" name="input_quantity">
</div>
<input type= "submit" value="CREATE NEW ORDER">
</div>

<% end %>