
<%= form_tag "/client/products/#{@product["id"]}", method: :patch do %>
  <div>
    Name: <input type="text" name="name" value="<%= @product["name"] %>" />
  </div>
  <div>
    Price: <input type="text" name="price" value="<%= @product["price"] %>" />
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product["description"] %>" />
  </div>
  <input type="submit" name="" value="EDIT PRODUCT"/>
<% end %>