<%= form_tag "/client/products", method: :post do %>
  <div>
    NAME: <input type="text" name="name" />
  </div>
  <div>
    PRICE: <input type="text" name="price" />
  </div>
  <div>
    DESCRIPTION: <input type="text" name="description" />
  </div>
  <div>
    SUPPLIER: <input type="text" name="supplier_id" />
  </div>
  <input type="submit" name="" value="Create Product" />
<% end %>